name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v4


    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode.app

    - name: Build App
      run: |
        xcodebuild -scheme abledex -destination 'platform=macOS' -configuration Release build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
